@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .inicio {
    background-image: url(../img/header03.jpg);
}
.webp .inicio {
    background-image: url(../img/header03.webp);
}


.header {
    background-color: v.$grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio {
        background-position: center center;
        background-size: cover;
        @include m.tablet {
            min-height: 70rem;
        }

        .contenido-header {
            @include m.tablet {
                min-height: 70rem;
            }
        }
    }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  h1 {
      text-align: left;
      color: v.$blanco;
      font-weight: v.$bold;
      line-height: 2;
      max-width: 60rem;
  }
}