@use 'base/variables' as v;
@use 'base/mixins' as m;

@include m.tablet {
    .seccion-inferior {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.entrada-blog {
    margin-bottom: 2rem;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.informacion-meta {
    span {
        color: v.$amarillo;
    }
}

.texto-entrada {
    a {
        color: v.$negro;
        margin-top: 2rem;
        display: block;
        @include m.tablet {
            margin-top: 0;
        }
    }
    h4 {
        margin: 0;
        line-height: 1.4;
        &::after {
            content: '';
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: v.$verde;
            margin-top: 1rem;
        }
    }

}